<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/common/head.html"></th:block>

<script type="text/javascript" th:src="@{/js/tom.search.autocomplate.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	
	var imgPrefix = /*[[ ${imgPrefix} ]]*/;
	var recentKeywordsStr = /*[[ ${recentKeywords} ]]*/
	var recentKeywords = [];
	if(recentKeywordsStr != null) {
		recentKeywords = JSON.parse(recentKeywordsStr);
	}
	var msgBtnPick     = /*[[ #{btn.pick} ]]*/;
	var pageName       = /*[[ ${pageName} ]]*/;
	var repCategId     = /*[[ ${repCategId} ]]*/;
	/*]]*/

	$(document).ready(function() {
		let pageStatus = getPageStatusJson();
		//printRecentKeyword();
		
		initFilterUiprint(pageStatus, null);
		initFilterEvents();
		
		initUiprint(pageStatus);
		$("#keyword").focus();	
		jQuery(window).scroll(function() {
			if ((jQuery(window).scrollTop()+100) >= jQuery(document).height() - jQuery(window).height()) {
				if(currentPage != null) {
					log("CALL End Of Windows  SearchPage("+(currentPage+1)+")")
					search(currentPage+1);
				}
			}
		});
	});

	
	function initUiprint(uiState) {
		if(uiState != null) {
			let keyword     = uiState['keyword'];
	    	currentViewType = uiState['currentViewType'];
	    	currentSorting  = uiState['currentSorting'];
	    	currentScroll   = uiState['currentScroll'];
		}
		
		$("#ul_search_list").empty();
		
		
		if(pageName == 'pop_contents') {
			$("#h1_title").text("인기 콘텐츠 (취향 카테고리)");
			currentSorting = SORT_POPULARITY;		
		} else if(pageName == 'rating_contents') {
			$("#h1_title").text("평점 높은 콘텐츠 (취향 카테고리)");
			currentSorting = SORT_RATING;
		}
		
		$("#div_keyword_input").css("display", "none");
		$("#div_rel_keuwords").css("display", "none");
		$("#div_document_title").css("display", "block");
		showPanels(false, false, true);
			
		log("m_pop_contents >>>>>>. " + uiState + " currentScroll ["+currentScroll+"]");
		
		$("#a_view_type").removeClass();
		$("#ul_search_list").removeClass();
		if(currentViewType == VIEW_CARD_TYPE) {
			$("#a_view_type").addClass("vf_type_card");
			$("#ul_search_list").addClass("list_type_card");
		} else {
			$("#a_view_type").addClass("vf_type_flat");
			$("#ul_search_list").addClass("list_type_flat");
		}
		
		
		if(uiState == null || uiState['currentPage'] == null){
			log("CALL SEARCH!! 2-1")
			search(1, true); 	
		} else {
			log("CALL SEARCH!! 2-2")
			search(uiState['currentPage'], true); 	
		}
    }

	
	var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';
	//isPressedBackKey - 뒤로가기를 해서 페이지가 로드 되었는지 여부.. 
	var isPressedBackKey = false;
	window.onpopstate = function(event) {
		log("HISTORY BACK!!!(POP HISTORY) "+ event.state);
		isPressedBackKey = true;
		initUiprint(event.state);
	};
	
	
	function search(nowPage, isInit) {
		log("searchMore ["+nowPage+"]["+isInit+"]");
		
		currentPage = nowPage;			
		let urlParam = 'paging.nowPage=' + nowPage + 
    	'&paging.perPage=5' +
    	'&orderby.field=' + currentSorting +
    	'';
    	
		if(isInit) {
			urlParam = 'paging.nowPage=1' + 
	    	'&paging.perPage=' + (nowPage * 10) +
	    	'&orderby.field=' + currentSorting;
		}
		
		if(repCategId != null) {
			urlParam = urlParam + "&categId=" + repCategId;
		}
		
		let filterParam = getFilterParam(true);
		urlParam = urlParam + filterParam;
		log("filterParam>>>> : ["+filterParam+"]");
		
		
    	let url = contextPath + '/api/search/aggregate_search.do?' + urlParam;
    	log("URL : ["+url+"]");
    	
    	
		showPanels(false, false, true);
		
		$.ajax({
	        url: url,
	        type:'get',
	        success:function(data){
	        	log(data);
	        	
	        	if(data['state'] == 0) {
	        		if(isPressedBackKey == false) {
		        		//addHistState();
		        	} else {
		        		isPressedBackKey = false;
		        	}
	        		printSearchResult(data, isInit);
	    		} else{
	    			alert(getErrorMsg(data['state']));
	    		}
	        },
	        error:function(request, status, error){
	        	alertNetworkErr();
	        }
	    });
		$("#keyword").blur();
	}
	
	function filterOkBtn() {
		let filterValue = getFilterParam(true);
		
		log(getFilterJson());
		search(1, false);
	}
	
	function removeFilter(removeField) {
		//log("removeFilter ["+removeField+"]");
		
		if(removeField == 'price'){
			gFilterInfo['minPrice'] = null;
			gFilterInfo['maxPrice'] = null;
		} else {
			gFilterInfo[removeField] = null;	
		}
		
		printFilterUiFromData();
		printFilterConditionToParentUi();
		
		search(1, false);
	}
	
	function addHistState() {
		let pageState = {
				'keyword' : $("#keyword").val(),
				'currentViewType' : currentViewType,
				'currentSorting'  : currentSorting,
				'currentPage'     : currentPage,
				'currentScroll'   : $(document).scrollTop(),
				'filter'		  : getFilterJson()
		};
		history.pushState(pageState, null, '#' + encodeURI(JSON.stringify(pageState)));	
		log("ADD HISTOR Y" + pageState)
	}

</script>
<body>

	<th:block th:replace="/category/cate_filter.html"></th:block>
	
    <div id="page" class="wrap_total">

        <div id="div_keyword_input" class="head_wrap">
            <a th:href="@{/m/home.do}" class="btn_back"></a>
            <div class="search_wrap">
                <input id="keyword" type="text" class="search_input input_type" onkeyup="enterkey();">
                <a href="javascript:resetInput()" class="btn_reset"></a>
                <a href="javascript:search(1)" class="btn_search"></a>
            </div>
        </div>
        <div id="div_document_title" class="head_wrap" style="display: none">
            <a th:href="@{/m/home.do}" class="btn_back"></a>
            <div class="title_wrap">
                <h1 id="h1_title" class="title_detail" ></h1>
            </div>
        </div>

        <div class="content">

            <div class="wrap_content">
                <div class="wrap_content_padding">
                
                    <ul id="ul_word_suggest" class="ser_key_history" style="margin-top:10px; display: none" >           
                    </ul>
                
                    
                    <div id="div_recent_search_words">
                    	<div class="ser_key_cont">
	                        <span class="latest"><em class="title_deco"></em>최근 검색어</span>
	                        <a href="javascript:deleteRecentSearchWord()" class="alldel" >전체 삭제</a>
	                    </div>
	                    
	                    <div id="div_no_recent_keywords" class="ser_key_none" style="display: none">
	                        최근 검색어가 없습니다.
	                    </div>
	                    <ul id="ul_recent_keywords" class="ser_key_history">                
	                    </ul>
	               </div>
	               
	               <div id="div_pop_search_words">
	                    <div style="border-top:1px solid #eee;margin:20px 0 10px 0;"></div>
	                    <th:block th:if="${searchStatDto} != null">
		                    <div class="ser_key_cont">
		                        <span class="latest"><em class="title_deco"></em>인기 검색어</span>
		                        <span class="period" th:text="${#dates.format(searchStatDto.statBegin, 'yyyy-MM-dd') + ' ~ ' + #dates.format(searchStatDto.statEnd, 'MM-dd')}"></span>
		                    </div>
	                    </th:block>
	                    
	                    
	                    <ol class="ser_key_hot">
	                    
	                    	<th:block th:each="popKeyword: ${popularKeywords}">
		                        <li>
		                            <a th:href="'javascript:$(\'#keyword\').val(\''+${popKeyword.keyword}+'\');search(1);'">
		                                <span class="ser_num" th:text="${popKeyword.rank}"></span>
		                                <span class="ser_key" th:text="${popKeyword.keyword}">검색어</span>
		                                <th:block th:if="${popKeyword.prevRank} == null">
		                                	<span class="ser_updown ser_new">NEW</span>
		                                </th:block>
		                                <th:block th:if="${popKeyword.prevRank} != null and ${popKeyword.rank} == ${popKeyword.prevRank}">
		                                	<span class="ser_updown ser_u">-</span>
		                                </th:block>
		                                <th:block th:if="${popKeyword.prevRank} != null and ${popKeyword.rank} > ${popKeyword.prevRank}">
		                                	<span class="ser_updown ser_down"><em></em><span th:text="${T(Math).abs(popKeyword.rank - popKeyword.prevRank)}"></span></span>
		                                </th:block>
		                                
		                                <th:block th:if="${popKeyword.prevRank} != null and ${popKeyword.rank} < ${popKeyword.prevRank}">
		                                	<span class="ser_updown ser_up"><em></em><span th:text="${T(Math).abs(popKeyword.rank - popKeyword.prevRank)}"></span></span>
		                                </th:block>
		                            </a>
		                        </li>
	                        </th:block>
	                    </ol>
                    </div>
                    
                    
                    <div id="div_search_result" style="display: none">
                    	<div id="div_rel_keuwords" class="ser_key_cont">
	                        <span class="latest"><em class="title_deco"></em>연관</span>
	                        <div class="rel_key">
	                            <p>
	                            <a >키워드</a>
	                            <a >키워드</a>
	                            <a >키워드</a>
	                            <a >키워드</a>
	                            <a >키워드</a>
	                            <a >키워드</a>
	                            <a >키워드</a>
	                            </p>
	                        </div>
	                        <span id="span_sresult_msg" class="ment"></span>
	                    </div>
	                    
	                    <!-- S:View Filter -->
	                    <div class="wrap_viewfilter">
	
	                        <div class="viewfilter_filter">
	                            <a href="javascript:showFilterPage();" class="vf_type_filter"></a>
	                        </div>                       
	
	                        <div class="viewfilter_type">
	                            <a id="a_view_type" href="javascript:changeViewType()" class="vf_type_card"></a>
	                        </div>
	                        <div class="viewfilter_sort">
	                            <select id="select_sorting" class="input_type_none" onchange="changeViewSorting()">
	                                <option value="popularity">인기순</option>
	                                <option value="rating">평점순</option>
	                                <option value="latest">최신순</option>
	                            </select>
	                        </div>
	                        <div id="div_filter_list" class="fil_cond1">
	                            
	                        </div>
	
	                    </div>
	                    
	                    
	
	
	                    <!-- S:List Card -->
	                    <ul id="ul_search_list" class="list_type_card">
	                    </ul>
	
						<!-- 
	                    	<a href="" class="list_more">더보기 +</a>
                    	-->
                    </div>
                </div>
            </div>
            
        </div>
        <th:block th:replace="/common/bottom_menu.html"></th:block>
    </div>

</body>

</html>