<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/common/head.html"></th:block>

<body>    

    <div id="page" class="wrap_total">

        <div class="head_wrap">
            <a href="javascript:history.back()" class="btn_back"></a>
            <div class="title_wrap">
                <h1 class="title_detail">개인정보처리방침</h1>
            </div>
        </div>

        <div class="content">

            <div class="wrap_content">

                <div class="wrap_content_padding" style="margin-top:15px;">

                    <div class="wrap_docu_form">

                        <div class="wdf_basic">
                            테크온미디어(주)는 개인정보 보호법에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립·공개합니다.
                        </div>

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 1 조 (개인정보의 수집 및 이용목적)</span>
                        </div>                        

                        <div class="wdf_con">
                            <p class="cs1">
                                회사는 수집한 개인정보를 다음의 목적을 위해 이용합니다.
                            </p>
                            <p class="cs2">
                                1. 서비스 기능 제공
                            </p>
                            <p class="cs3">
                                ① 서비스, 콘텐츠 제공
                            </p>
                            <p class="cs3">
                                ② 회원을 위한 맞춤 서비스 제공
                            </p>
                        </div>                     

                        <div class="wdf_con">
                            <p class="cs2">
                                2. 회원 관리
                            </p>
                            <p class="cs3">
                                ① 회원제 서비스 제공, 개인 식별, 본인 확인에 의한 부정 이용 방지, 가입 의사 확인, 가입 및 가입횟수 제한
                            </p>
                            <p class="cs3">
                                ② 분쟁 조정을 위한 기록 보존, 불만처리 등 민원처리, 고지사항 전달, 회원 탈퇴 의사의 확인
                            </p>
                        </div>

                        <div class="wdf_con">
                            <p class="cs2">
                                3. 신규 서비스 개발 및 통계적 분석, 마케팅 이벤트에 활용
                            </p>
                            <p class="cs3">
                                ① 신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인
                            </p>
                            <p class="cs3">
                                ② 접속빈도 파악, 회원의 서비스 이용에 대한 통계, 이벤트 정보 제공 및 참여기회 제공
                            </p>
                        </div>

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 2 조 (수집하는 개인 정보 항목 및 수집 방법)</span>
                        </div> 

                        <div class="wdf_con">
                            <p class="cs2">
                                1. 회사는 회원가입, 원활한 고객상담, 서비스의 제공을 위해 회원가입 시 및 서비스 이용 시 아래와 같은 개인정보를 수집하고 있습니다.
                            </p>
                            <p class="cs3">
                                ① 필수항목 : 아이디, 비밀번호, 이메일 주소
                            </p>
                            <p class="cs3">
                                ② 부가항목 : 닉네임, 프로필 이미지, 연령, 성별, 추천인 KEY
                            </p>
                        </div> 

                        <div class="wdf_con">
                            <p class="cs2">
                                2. 서비스 이용과정이나 처리 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
                            </p>
                            <p class="cs3">
                                ① 수집내용 : PC웹, 모바일 웹/앱 이용 과정에서 단말기정보(OS, 화면사이즈, 디바이스 아이디, 폰기종, 단말기 모델명), IP Address, 쿠키, 방문 기록, 서비스 이용 기록, 불량 이용 기록
                            </p>
                        </div> 

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 3 조 (개인정보의 보유 및 이용 기간)</span>
                        </div> 

                        <div class="wdf_con">
                            <p class="cs2">
                                1. 회사는 이용자의 개인정보를 이용목적에 필요한 기간에만 제한적으로 보유·이용합니다. 
                            </p>
                            <p class="cs3">
                                ① 회사는 이용자가 개인정보의 수집 및 이용에 대한 동의를 철회하거나 회원 탈퇴를 하는 경우
                            </p>
                            <p class="cs3">
                                ② 사업을 종료하는 경우, 개인정보의 수집 및 이용목적이 달성된 경우 해당 개인정보를 지체 없이 파기합니다.
                            </p>
                        </div> 

                        <div class="wdf_con">
                            <p class="cs2">
                                2. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 법령에서 정한 일정한 기간 동안 개인정보를 보관합니다.
                            </p>
                            <p class="cs3">
                                ① 계약 또는 청약철회 등에 관한 기록 : 5년
                            </p>
                            <p class="cs3">
                                ② 대금결제 및 재화 등의 공급에 관한 기록 : 5년
                            </p>
                            <p class="cs3">
                                ③ 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
                            </p>
                            <p class="cs3">
                                ④ 통신사실확인자료 중 컴퓨터통신, 인터넷 로그기록자료, 접속지 추적자료 : 3개월
                            </p>
                        </div> 

                        <div class="wdf_con">
                            <p class="cs2">
                                3. 휴면 계정 처리
                            </p>
                            <p class="cs3">
                                ① "회원"이 1년간 리뷰나라에서 이용 기록이 없을 시, 서비스 미이용자의 개인정보는 '정보통신망 이용촉진 및 정보보호등에 관한 법률 제29조' 에 근거하여 이용자에게 사전통지하고 개인정보를 별도로 분리하여 저장 관리
                            </p>
                            <p class="cs3">
                                ② 분리 보관된 개인정보는 4년 간 보관 후 지체없이 파기합니다.
                            </p>
                        </div> 

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 4 조 (개인정보의 파기절차 및 파기방법)</span>
                        </div>                        

                        <div class="wdf_con">
                            <p class="cs1">
                                이용자의 개인정보는 원칙적으로 제3조에서 정한 보유 및 이용기간이 종료된 경우 지체 없이 파기됩니다. 회사의 개인정보 파기절차 및 방법은 다음과 같습니다.
                            </p>
                            <p class="cs2">
                                1. 파기절차
                            </p>
                            <p class="cs3">
                                ① 이용자의 개인정보는 제3조에서 정한 보유 및 이용기간이 종료된 경우 파기됩니다. 단, 관련 법령에서 일정한 기간 동안의 보존을 요구하는 경우, 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 관련 법령에서 정한 기간동안 저장된 후 파기됩니다.
                            </p>
                            <p class="cs3">
                                ② 다만, 회원탈퇴 시에는 시스템 업데이트 소요시간으로 인해 탈퇴회원의 정보가 파기되는 시간이 일정시간 소요될 수 있습니다.
                            </p>
                        </div>                     

                        <div class="wdf_con">
                            <p class="cs2">
                                2. 파기방법
                            </p>
                            <p class="cs3">
                                ① 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.
                            </p>
                            <p class="cs3">
                                ② 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.
                            </p>
                        </div>

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 5 조 (개인정보의 제공)</span>
                        </div>                        
                        
                        <div class="wdf_con">
                            <p class="cs1">
                                회사는 이용자들의 개인정보를 제1조에서 고지한 범위 내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 공개하지 않습니다.
                            </p>
                            <p class="cs2">
                                1. 아래의 경우에는 예외로 합니다.
                            </p>
                            <p class="cs3">
                                ① 이용자가 개별적으로 제3자 제공에 대하여 사전 동의한 경우
                            </p>
                            <p class="cs3">
                                ② 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
                            </p>
                            <p class="cs3">
                                ③ 영업의 전부 또는 일부를 양도하거나, 합병/상속 등으로 서비스제공자의 권리, 의무를 이전 승계하는 경우
                            </p>
                        </div> 

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 6 조 (수집한 개인정보의 위탁 범위)</span>
                        </div>                        
                        
                        <div class="wdf_con">
                            <p class="cs1">
                                회사는 서비스 향상을 위해서 아래와 같이 개인정보 취급업무를 위탁하고 있습니다. 수탁업체와 위탁내용 보유개인정보의 내용은 아래와 같으며, 단순 인증 및 전송처리는 별도의 정보를 보관하지 않습니다.
                            </p>
                            <p class="cs2">
                                1. 정보 저장
                            </p>
                            <p class="cs3">
                                ① 수탁자: Amazon Web Services Inc.
                            </p>
                            <p class="cs3">
                                ② 위탁업무: 클라우드 서버 운영 및 개인정보 보관 (멤버 시퀀스, 이메일, 프로필 이미지, 연령, 성별, 전자지갑 주소)
                            </p>
                        </div> 

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 7 조 (이용자 및 법정대리인의 권리와 그 행사 방법)</span>
                        </div>                        
                        
                        <div class="wdf_con">
                            <p class="cs2">
                                1. 이용자 및 만 14세 미만 아동의 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 아동의 개인정보를 조회하거나 수정할 수 있으며 회원 탈퇴의 방법으로 정보 삭제 및 처리 정지를 요청할 수도 있습니다.
                            </p>
                            <p class="cs2">
                                2. 이용자 혹은 만 14세 미만 아동의 법정대리인이 전 항의 권리행사를 위하여 개인정보 보호책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.
                            </p>
                            <p class="cs2">
                                3. 전 항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 단, 이 경우 개인정보 보호법 시행규칙에 따른 위임장을 제출하셔야 합니다.
                            </p>
                            <p class="cs2">
                                4. 이용자의 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.
                            </p>
                            <p class="cs2">
                                5. 회사는 이용자 권리에 따른 열람·정정·삭제 또는 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.
                            </p>
                            <p class="cs2">
                                6. 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
                            </p>
                            <p class="cs2">
                                7. 회사는 이용자 혹은 법정 대리인의 요청에 의해 삭제된 개인정보는 개인정보 파기절차 및 파기방법에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
                            </p>
                        </div> 

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 8 조 (개인정보의 안전성 확보조치에 관한 사항)</span>
                        </div>                        
                        
                        <div class="wdf_con">
                            <p class="cs1">
                                회사는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
                            </p>
                            <p class="cs2">
                                1. 기술적 조치 : 회원의 개인정보는 비밀번호에 의해 보호되며, 중요한 데이터는 파일 및 전송 데이터를 암호화하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 통해 보호하고 있습니다.
                            </p>
                            <p class="cs2">
                                2. 관리적 조치 : 개인정보관련 취급 직원은 담당자에 한정시켜 최소화 하고 개인정보보호 의무에 관해 정기적인 교육을 실시하며 접근 권한을 관리하는 등 관리적 대책을 시행하고 있습니다.
                            </p>
                        </div>

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 9 조 (개인정보 자동 수집 장치의 설치/운영 및 거부에 관한 사항)</span>
                        </div>                        
                        
                        <div class="wdf_con">
                            <p class="cs1">
                                회사는 이용자의 접속 정보를 저장하고 수시로 불러오는 쿠키 및 그와 유사한 기술을 사용합니다. 쿠키는 이용자가 어플리케이션 서비스를 이용하거나 사이트를 방문하였을 때 이용자의 단말기에 저장되는 소량의 정보이며, 이용자가 사이트를 재방문했을 때 읽을 수 있는 정보를 저장합니다.
                            </p>
                            <p class="cs2">
                                1. 쿠키의 사용 목적
                            </p>
                            <p class="cs3">
                                ① 이용자의 접속 세션을 유지하기 위하여
                            </p>
                            <p class="cs3">
                                ② 이용자의 서비스 및 사이트에 대한 이용 및 방문 행태 분석을 위하여
                            </p>
                            <p class="cs3">
                                ③ 보안 접속을 위하여
                            </p>
                        </div>                     
                        
                        <div class="wdf_con">
                            <p class="cs2">
                                2. 쿠키의 설치/운영 및 거부
                            </p>
                            <p class="cs3">
                                ① 이용자가 웹을 통해 서비스를 이용하는 경우 브라우저의 옵션을 설정함으로써 모든 쿠키의 허용여부를 결정할 수 있습니다.
                            </p>
                            <p class="cs3">
                                ② 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스는 이용에 어려움이 있을 수 있습니다.
                            </p>
                        </div>

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>제 10 조 (개인정보 보호책임자)</span>
                        </div>                        
                        
                        <div class="wdf_con">
                            <p class="cs1">
                                회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 요청은 개인정보 보호책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.
                            </p>
                            <p class="cs2">
                                1. 개인정보 보호 책임자
                            </p>
                            <p class="cs3">
                                ① 성명 : 김승현
                            </p>
                            <p class="cs3">
                                ② 직급 : 개발본부 부장
                            </p>
                            <p class="cs3">
                                ③ 연락처 : info@revunara.com
                            </p>
                        </div>

                        <div class="ser_key_cont_s">
                            <span class="latest"><em class="title_deco"></em>부칙</span>
                        </div>                        
                        
                        <div class="wdf_con">
                            <p class="cs1">
                                이 개인정보 처리방침은 2020년 6월 1일부터 적용됩니다.
                            </p>
                        </div>

                    </div>

                </div>

            </div>
            
        </div>
        <th:block th:replace="/common/bottom_menu.html"></th:block>
    </div>

</body>

</html>