<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tipsy.svcmgr.web.dao.CategoryDao">

	<insert id="insert">
		INSERT INTO category (
			categ_id,
			raw_categ_id,
			categ_name,
			level, 
			sort_seq,
			status,
			reg_date
		) VALUES (
			#{categId},
			#{rawCategId},
			#{categName}, 
			#{level}, 
			#{sortSeq},
			#{status},
			NOW()
		)
	</insert>
	
	
	<select id="selectMaxSeq" resultType="tipsy.svcmgr.web.dao.CategoryDto">
		<!-- 
		SELECT * 
		FROM categ
		WHERE level = 1
		ORDER BY categ_id desc
		LIMIT 1
		-->
		
		SELECT * 
		FROM category
		<where>
			<if test="categId != null">
				AND categ_id like CONCAT(#{categId}, '%')
			</if>
			<if test="level != null">
				AND level = #{level}
			</if>
		</where>
		ORDER BY categ_id desc
		LIMIT 1
	</select>
	
	<select id="selectOne"  resultType="tipsy.svcmgr.web.dao.CategoryDto">
		SELECT  * 
		FROM    category
		WHERE	categ_id = #{categId}
	</select>
	
	<select id="selectByRawId"  resultType="tipsy.svcmgr.web.dao.CategoryDto">
		SELECT  * 
		FROM    category
		WHERE	raw_categ_id = #{rawCategId}
	</select>
	
	<select id="selectChild"  resultType="tipsy.svcmgr.web.dao.CategoryDto">
		SELECT   * 
		FROM     category
		WHERE	 categ_id like CONCAT(#{categId}, '%')
		AND		 level > #{level}
	</select>

	<select id="selectList"  resultType="tipsy.svcmgr.web.dao.CategoryDto">
		SELECT   * 
		FROM     category
		<include refid="common.sql.orderbyQuery" />
	</select>
		
	<select id="selectAll"  resultType="tipsy.svcmgr.web.dao.CategoryDto">
		SELECT   * 
		FROM     raw_category
	</select>

	<delete id="deleteAll">
		DELETE FROM category
	</delete>
		
	<select id="selectRawCateg"  resultType="tipsy.svcmgr.web.dao.RawCategoryDto">
		SELECT   * 
		FROM     raw_category
	</select>

</mapper>