<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tipsy.svcmgr.web.dao.IngredientDao">

	<select id="selectOne"  resultType="tipsy.svcmgr.web.dao.IngredientDto">
		SELECT  * 
		FROM    ingredient
		WHERE	ingd_id = #{ingdId}
	</select>
	
	<select id="selectByName"  resultType="tipsy.svcmgr.web.dao.IngredientDto">
		SELECT  * 
		FROM    ingredient
		WHERE	name_kr like #{nameKr}
	</select>

	<select id="selectListByIds"  resultType="tipsy.svcmgr.web.dao.IngredientDto">		
		SELECT 
			ingredient.*,
		    categ1.name as category1_name,
		    categ2.name as category2_name,
		    categ3.name as category3_name,
		    categ4.name as category4_name,
		    reg_user.username as reg_admin_name,
		    update_user.username as update_admin_name,
		    if(image.path is null, 'default', image.path) as rep_img
		FROM tipsy_raw.ingredient
		LEFT OUTER JOIN raw_category categ1 ON categ1.id = ingredient.category1_id
		LEFT OUTER JOIN raw_category categ2 ON categ2.id = ingredient.category2_id
		LEFT OUTER JOIN raw_category categ3 ON categ3.id = ingredient.category3_id
		LEFT OUTER JOIN raw_category categ4 ON categ4.id = ingredient.category4_id
		LEFT OUTER JOIN auth_user reg_user ON reg_user.id = ingredient.reg_admin
		LEFT OUTER JOIN auth_user update_user ON update_user.id = ingredient.update_admin
		LEFT OUTER JOIN image ON image.content_id = ingredient.ingd_id AND image.content_type = 300 AND image.image_type = 0
		<where>
			<if test="ingdIds != null">
				AND ingredient.ingd_id IN (
					<foreach collection="ingdIds" item="item" index="index" open="" separator=","  close="">
						#{item}
					</foreach>
				)
			</if>
			<if test="ingdIds != null">
				ORDER BY FIELD(ingredient.ingd_id, 
					<foreach collection="ingdIds" item="item" index="index" open="" separator=","  close="">
						#{item}
					</foreach>
				)
			</if>	
		</where>
			
		
		<!-- <include refid="common.sql.orderbyQuery" />
		<include refid="common.sql.pagingQuery" /> -->
	</select>
	
	
	
	<select id="searchName"  resultType="tipsy.svcmgr.web.dao.IngredientDto">
		SELECT   * 
		FROM     ingredient
		WHERE	 LOWER(name_en) = LOWER(#{keyword})
	</select>

</mapper>