<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tipsy.svcmgr.web.dao.PartJobDao">

	<insert id="insert" useGeneratedKeys="true" keyProperty="partJobId">
		INSERT INTO part_job (
			type, 
			worker_id,
			data_id,
			data_type,
			state,
			info,
			reward,
			reg_date
		) VALUES (
			#{type}, 
			#{workerId}, 
			#{dataId},
			#{dataType},
			#{state},
			#{info},
			#{reward},
			NOW()
		)
	</insert>
	
	<select id="selectOne"  resultType="tipsy.svcmgr.web.dao.PartJobDto">
		SELECT  * 
		FROM    part_job
		WHERE	part_job_id = #{partJobId}
	</select>

	<select id="selectList"  resultType="tipsy.svcmgr.web.dao.PartJobDto">
		SELECT   * 
		FROM     part_job
		<include refid="common.sql.orderbyQuery" />
		<include refid="common.sql.pagingQuery" />
	</select>
	
	<select id="selectListByWorker"  resultType="tipsy.svcmgr.web.dao.PartJobDto">
		SELECT   * 
		FROM     part_job
		WHERE	 worker_id = #{workerId}
		<include refid="common.sql.orderbyQuery" />
		<include refid="common.sql.pagingQuery" />
	</select>
	
	<select id="selectPartJobReward" resultType="tipsy.svcmgr.web.dao.PartJobDto">
		SELECT 	SUM(reward) as reward, SUM(paid_reward) as paid_reward
		FROM 	part_job
		WHERE 	worker_id = #{workerId}
		AND 	type = #{type}
	</select>
	
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT 	count(*)
		FROM	part_job
	</select>

</mapper>