@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import "./jquery_ui/jquery.ui.base.css";
@import "./jquery_ui/jquery.ui.theme.css";
@import "./jquery_ui/jquery.ui.datepicker.css";

/* Basic */
html, body, header, footer, nav, section, article, aside, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, legend, caption, blockquote, button, select, textarea, button {margin:0; padding:0;}
html {overflow-y: scroll;}
body {display: block;font-family:'Noto Sans KR',sans-serif,Tahoma; color:#002e36;font-size: 16px;width:100%;height:100%;}
header, nav, section, article, aside {display:block;}
ul, ol {list-style-type:none;}
table {table-layout:fixed; border-collapse:collapse; border-spacing:0;}
fieldset, hr, img {border:none;}
button {border:none; background:none; cursor:pointer;}
a {text-decoration:none;color:#ff3030;cursor: pointer;outline: none; select-dummy: expression(this.hideFocus=true);}
a:hover {text-decoration:underline;}
a, * { -webkit-tap-highlight-color:transparent;}
*:focus {outline: none; select-dummy: expression(this.hideFocus=true);}
/*
.f_left {float:left;}
.f_right {float:right;}
*/
.txt_left {text-align: left;}
.txt_center {text-align: center;}
.txt_right {text-align: right;}
.ellipsis_1 {display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.ellipsis_2 {
/* 한 줄 자르기 */ display: inline-block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; 
/* 여러 줄 자르기 추가 스타일 */ white-space: normal; line-height: 1.5; max-height: 4.2em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;padding-top:3px;}
.ellipsis_3 {
/* 한 줄 자르기 */ display: inline-block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; 
/* 여러 줄 자르기 추가 스타일 */ white-space: normal; line-height: 1.6; max-height: 4.2em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
h2.page_head {padding:10px 15px;font-size:1rem;}
h2.page_head .logout {display:inline-block;float:right;font-size:.8rem;font-weight:400;}
h2.page_head .secession {display:inline-block;float:right;font-size:.8rem;font-weight:400;}
.mypage_profile .modify {display:inline-block;float:right;font-size:.8rem;font-weight:400;margin-top:-20px;}
.readonly {background:#eee !important;}
.wrap_data_no {text-align:center;font-size:.8rem;color:#999;padding:50px 0;}

.not_scroll{position: fixed;overflow: hidden;width: 100%;height: 100%}
.not_scroll .wrap_total {position: relative;top: 0;}

/* common */

    /* scroll */
    #scrolltop {position:fixed;bottom:40px;right:5px;display:none;width:50px;font-size:36px;cursor: pointer;color:#666;z-index:101;}
    #scrolltop:hover {color:#000;}
    #scrolltop img {width:100%;}

    /* scrollOff */
    /*.scrollOff {position:fixed;overflow:hidden;height:100%;}*/
    .scrollOff {overflow:hidden;height:100%;}

    /* dimmed Layer */
    .wrap_layer {position:absolute;width:100%;height:100%;z-index:1000;}
    .wrap_layer .wrap_dimmed {width:100%;height:100%;background:#000;opacity:.5;}
    .wrap_box {position:fixed;top:50%;left:50%;background:#fff;z-index:1001;overflow:hidden;border-radius:6px;}   
    .wrap_box h5 {padding:10px;color:#fff;background:#ff3030;text-align:center;}
    .wrap_box h6 {padding:10px;font-size:.9rem;}
    .wrap_box ul.select {margin:0 10px 6px 10px;}
    .wrap_box textarea.comment {margin:0 10px;width:88%;} 
    .wrap_box .ptitle {font-size:.7rem;margin:-5px 10px 10px 10px;}
    .wrap_box .rgg {text-align:center;font-weight:600;font-size:1.2rem;color:#36a2eb;border-top:1px dotted #ddd;padding:10px 0 0 0;}
    .wrap_box_type_01 {width:260px;height:240px;margin:-120px 0 0 -130px;}
    .wrap_box_type_01 .ment {width:260px;}
    .wrap_box_type_01 .ment p {text-align: center;font-size:.9rem;padding:0 20px;height:133px;display:table-cell;vertical-align: middle;}
    .wrap_box_type_02 {width:300px;height:350px;margin:-175px 0 0 -150px;}
    .wrap_box_type_02 .report {height:285px;width:300px;}
    .wrap_box_type_03 {width:300px;height:466px;margin:-233px 0 0 -150px;}
    .wrap_box_type_03 .report {height:400px;width:300px;}
    .wrap_box .btn {text-align: center;border-top:1px solid #ccc;padding-top:12px;}
    .wrap_box .btn a {min-width:70px;}
    .wrap_box .prate_step {text-align: center;font-size:.7rem;color:#36a2eb;;border:1px solid #36a2eb;padding:6px 0;margin:0 10px;border-radius: 15px;font-weight:500;}

    /* toast */
    .wrap_toast {background:#fa6e44;color:#fff;text-align:center;position:fixed;bottom:10px;left:10px;right:10px;z-index:1001;font-size:.8rem;margin:0 auto;padding:5px;border-radius: 15px;}

    .wrap_like {overflow: hidden;margin:10px;}
    .wrap_like li {overflow: hidden;float:left;width:50%;}
    .wrap_like li .wlike {margin:0 auto;width:80%;text-align:center;padding:8px 0;border:1px solid #ccc;border-radius:10px;}
    .wrap_like li .wlike .wlike_ment {font-size:.8rem;font-weight:600;padding-bottom:5px;color:#ccc;}
    .wrap_like li .wlike .emoji_like {margin:0 auto;width:50px;height:50px;background:url(../image/img_like_off.png) no-repeat center 0;background-size: 100%;}
    .wrap_like li .wlike .emoji_unlike {margin:0 auto;width:50px;height:50px;background:url(../image/img_unlike_off.png) no-repeat center 0;background-size: 100%;}
    .wrap_like li .wlike .num {font-size:.8rem;font-weight:400;padding-top:5px;color:#ccc;}

    .wrap_like li .wlike_on {margin:0 auto;width:80%;text-align:center;padding:8px 0;border:1px solid #555;border-radius:10px;background:#777;}
    .wrap_like li .wlike_on .wlike_ment {font-size:.8rem;font-weight:600;padding-bottom:5px;color:#fff;}
    .wrap_like li .wlike_on .emoji_like {margin:0 auto;width:50px;height:50px;background:url(../image/img_like_on.png) no-repeat center 0;background-size: 100%;}
    .wrap_like li .wlike_on .emoji_unlike {margin:0 auto;width:50px;height:50px;background:url(../image/img_unlike_on.png) no-repeat center 0;background-size: 100%;}
    .wrap_like li .wlike_on .num {font-size:.8rem;font-weight:400;padding-top:5px;color:#fff;}

    /* line */
    .line_type_common {border-bottom:1px solid #ccc;height:10px;text-align:center;margin:0 10px 10px 10px;}
    .line_type_common span {display:inline-block;background:#fff;padding:0 30px;}
    
    /* input */
    .input_type {background:#fff;border:1px solid #ccc;border-radius:2px;overflow:hidden;padding:6px;outline: none;font-size:13px;}
    .input_type:focus, .input_type:hover {border:1px solid #ff6060;;background:#f9f9f9;}
    .i_select {border:1px solid #ccc;height:26px;background:#fff;}
    .i_select_noline {border:none;background: transparent;}
    .i_select_ac {text-align:center;border-radius: 2px;height:auto;font-size:13px;}
    input[type="checkbox"].s_checkbox {display:none;}
    input[type="checkbox"].s_checkbox + label {font-size:13px;display:block;position:relative;padding:4px 0 7px 30px !important;line-height:20px;}
    input[type="checkbox"].s_checkbox + label em {left:0;top:-5px;vertical-align:middle;position:absolute;box-shadow:none;width:25px;height:40px;border-radius:0;background:url('../image/input_check.png') no-repeat 0 0;background-size:31px 120px;cursor:pointer;}
    input[type="checkbox"].s_checkbox:checked + label em {background-position:0 -40px;}
    input[type="checkbox"].s_checkbox:disabled + label em {background-position:0 -80px;}
    input[type="checkbox"]:disabled.s_checkbox + label div {color:#bbb;}
    input[type="checkbox"]:disabled.s_checkbox + label span {color:#bbb;}
    input[type="checkbox"]:disabled.s_checkbox + label span strong {color:#bbb;background-position:0 -30px;}
    input[type="radio"].s_radiobox {display:none;}
    input[type="radio"].s_radiobox + label {font-size:14px;display:block;position:relative;padding:4px 0 7px 30px !important;line-height:20px;}
    input[type="radio"].s_radiobox + label em {left:0;top:-4px;vertical-align:middle;position:absolute;box-shadow:none;width:32px;height:40px;border-radius:0;background:url('../image/input_radio.png') no-repeat 0 0;appearance:none;-webkit-appearance:none;-moz-appearance:none;background-size:32px 120px;}
    input[type="radio"]:checked.s_radiobox + label em {background-position:0 -40px;}
    input[type="radio"]:disabled.s_radiobox + label em {background-position:0 -80px;}
    input[type="radio"]:disabled.s_radiobox + label  div {color:#bbb;}
    input[type="radio"]:disabled.s_radiobox + label span {color:#bbb;}

    /* btn */
    .btn_type_bg {display:inline-block;font-size:14px;padding:10px 15px 10px 15px;overflow: hidden;}
    .btn_type_bg:hover {text-decoration: none;}
    .btn_type_sm {display:inline-block;font-size:13px;padding:4px 10px 5px 10px;overflow: hidden;}
    .btn_type_sm:hover {text-decoration: none;}
    .btn_type_xs {display:inline-block;font-size:12px;padding:2px 6px 4px 5px;overflow: hidden;}
    .btn_type_xs:hover {text-decoration: none;}
    .btn_log {color:#ff6060;font-weight: 400;}
    .btn_type_none {color:#00a1c9;}
    .btn_type_none:hover {color:#004b91;}
    .btn_type_blue_none_fill {background:#fff;color:#00a1c9;border:1px solid #00a1c9;}
    .btn_type_blue_none_fill:hover {color:#004b91;border-color: #004b91;}
    .btn_type_blue_fill {background:#00a1c9;color:#fff;border:1px solid #00a1c9;}
    .btn_type_blue_fill:hover {color:#fff;border-color: #004b91;background:#004b91;}
    .btn_type_blue_disable {background:#00a1c9;color:#fff;border:1px solid #00a1c9;opacity:.3;}
    .btn_type_red_none_fill {background:#fff;color:#db0000;border:1px solid #db0000;}
    .btn_type_red_none_fill:hover {color:#db0000;border-color: #dc1010;background:#fff;}
    .btn_type_red_fill {background:#db0000;color:#fff;border:1px solid #db0000;}
    .btn_type_red_fill:hover {color:#fff;border-color: #dc1010;background:#dc1010;}
    .btn_type_green_none_fill {background:#fff;color:#88c61b;border:1px solid #88c61b;}
    .btn_type_green_none_fill:hover {color:#88c61b;border-color: #68a203;background:#fff;}
    .btn_type_green_fill {background:#88c61b;color:#fff;border:1px solid #88c61b;}
    .btn_type_green_fill:hover {color:#fff;border-color: #68a203;background:#68a203;}
    .btn_type_orange_none_fill {background:#fff;color:#ff9102;border:1px solid #ff9102;}
    .btn_type_orange_none_fill:hover {color:#ff6060;border-color: #ff6060;background:#fff;}
    .btn_type_orange_fill {background:#ff6060;color:#fff;border:1px solid #6600;}
    .btn_type_orange_fill:hover {color:#fff;border-color: #d25e00;background:#d25e00;}
    .btn_type_gray_none_fill {background:#fff;color:#555;border:1px solid #ccc;}
    .btn_type_gray_none_fill:hover {color:#555;border-color: #555;background:#fff;}
    .btn_type_gray_fill {background:#888;color:#fff;border:1px solid #888;}
    .btn_type_gray_fill:hover {color:#fff;border-color: #555;background:#555;}
    .btn_box {text-align:center;margin-top:30px;}
    .btn_box a {margin:20px 3px;min-width:60px;}
    .btn_list_more {text-align:center;margin:30px 15px;}
    .list_more {display:block;border:1px solid #ccc;padding:10px 0;font-size:.8rem;color:#555;font-weight:600;}

    /* Tab */
    .tab_btn {position:relative;width:100%;z-index:10;margin-bottom:0px;border-bottom:1px solid #ddd;background:#f5f5f5;}
    .tab_btn li {z-index:5;width:49.2%;display:inline-block;text-align:center;padding:10px 0;color:#002e36;margin-bottom:-1px;font-size:.9rem;}
    .tab_btn li:hover {cursor: pointer;text-decoration:none;}
    .tab_btn li.selected {color:#ff6060;padding:10px 0;border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#fff;font-weight:600;}
    .tab_btn li.selected:hover {text-decoration:none;color:#ff6060;}
    .tab_con {position: relative; margin:0px 0 10px 0;height:auto !important;overflow:hidden;}
    .tab_con .cbox {display: none; position: relative;}

    /* fixed */
    .layer_bottom_fixed_type_01 {position:fixed;bottom:0;width:100%;height:50px;background:#eee;text-align:center;z-index:19;border-top:1px solid #ccc;}
    .layer_bottom_fixed_type_01 a {margin:10px 3px;}

    /* star rate */
    .wrap_starRev {margin:-2px 10px;}
    .wrap_starRev .rate_ment {text-align: center;font-size:.9rem;font-weight:600;padding-bottom:6px;}
    .wrap_starRev .rate_ment strong {color:#ff6060;}
    .starRev, .starRev_finish {margin:0 auto;width:230px;}
    .starRev_finish span {cursor:auto;}
    .starR{background: url('../image/img_star.png') no-repeat right 0;background-size: auto 100%;width: 35px;height: 35px;display: inline-block;text-indent: -9999px;cursor: pointer;}
    .starR.on{background-position:0 0;}
    .star_rate {display:inline-block;font-size:25px;padding:0 7px 7px 0;color:#999;margin-bottom:-5px;}
    .star_rate_m {display:inline-block;font-size:2.8rem;padding:0 7px 7px 0;color:#999;width:30px;text-align:center;margin-bottom:-5px;}

    .gageRev, .gageRev_finish {margin:0 auto;width:265px;padding:10px 0 1px 0;}
    .gageRev_finish span {cursor:auto;}
    .gageR{background: url('../image/img_gage.png') no-repeat right 0;background-size: auto 100%;width: 35px;height: 25px;display: inline-block;text-indent: -9999px;cursor: pointer;margin-right:-4px;z-index:4;}
    .gageR1{background: url('../image/img_gage_r.png') no-repeat 0 0;background-size: auto 100%;}
    .gageR2{background: url('../image/img_gage.png') no-repeat right 0;background-size: auto 100%;}
    .gageR.on{background-position:0 0;}
    .gageR.on1{background-position:center 0;}
    .gage_rate {position:absolute;font-size:.8rem;padding:3px 7px 7px 0;color:#333;margin:0 -10px 0 0;width:58px;background:#fff;z-index:5;font-weight:600;}
    .gage_rate_m {display:inline-block;float:right;font-size:1rem;padding:0 7px 7px 0;color:#ff6060;width:30px;text-align:center;margin-top:-31px;font-weight:600;}

/* frame */
.wrap_head {position:fixed;top:0;width:100%;overflow:hidden;height:50px;font-size:.7rem;background:#fff;z-index:1200;}
.wrap_head_main {background:#ff3030;}

.wrap_body {overflow:hidden;font-size:.8rem;padding:0 0 10px 0;}
.wrap_sbody_type_50 {overflow:hidden;min-height:500px;margin-top:50px;}
.wrap_foot {overflow:hidden;font-size:.8rem;padding:20px 0 65px 0;border-top:1px solid #ddd;text-align:center;background:#fff;color:#333;}
.wrap_foot a {display:inline-block;padding:5px 0;color:#ff6060;}

.wrap_foot_main {overflow:hidden;font-size:.7rem;padding:20px 0 65px 0;border-top:1px solid #ddd;text-align:center;background:#fff;color:#333;}
.wrap_foot_main a {display:inline-block;padding:5px 0;color:#ff6060;}

/* head */
.wrap_head .whead_left {float:left;}
.wrap_head .whead_left h1 {margin:8px 15px 0 10px;float:left;}
.wrap_head .whead_left h1 a {font-weight:400;color:#ff3030;}
.wrap_head .whead_left .btn_side_menu {float:left;display:inline-block;width:28px;height:33px;background:url(../image/btn_menu.png) no-repeat 0 0;background-size:85%;margin:12px 0 0 10px;}
.wrap_head .whead_right {float:right;}
.wrap_head .whead_right a {float:left;}
.wrap_head .whead_right .btn_side_menu {display:inline-block;width:28px;height:33px;background:url(../image/btn_menu.png) no-repeat 0 0;background-size:95%;margin:12px 15px 0 10px;}
.wrap_head .whead_right .btn_close {display:inline-block;width:28px;height:33px;background:url(../image/btn_close.png) no-repeat 0 0;background-size:90%;margin:11px 5px 0 10px;}
.wrap_head .whead_right .btn_search {display:inline-block;width:28px;height:33px;background:url(../image/btn_search.png) no-repeat 0 0;background-size:80%;margin:13px 0px 10px 10px;}

.wrap_head_main .whead_left h1 {margin:8px 15px 0 10px;float:left;}
.wrap_head_main .whead_left  .btn_side_menu {float:left;display:inline-block;width:28px;height:33px;background:url(../image/btn_menu_w.png) no-repeat 0 0;background-size:85%;margin:12px 0 0 10px;}

.wrap_head_main .whead_left h1 a {font-weight:400;background: linear-gradient(to right, #fff, #fff );-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.wrap_head_main .whead_right .btn_side_menu {display:inline-block;width:28px;height:33px;background:url(../image/btn_menu_w.png) no-repeat 0 0;background-size:85%;margin:12px 15px 0 10px;}
.wrap_head_main .whead_right .btn_close {display:inline-block;width:28px;height:33px;background:url(../image/btn_close_w.png) no-repeat 0 0;background-size:90%;margin:11px 5px 0 10px;}
.wrap_head_main .whead_right .btn_search {display:inline-block;width:28px;height:33px;background:url(../image/btn_search_w.png) no-repeat 0 0;background-size:80%;margin:13px 0px 10px 10px;}

/* main */
.wrap_mlogo {text-align:center;margin:50px 0 0 0;}
.wrap_mlogo p.m1 {font-size:1.1rem;font-weight:300;}
.wrap_mlogo p.m2 {font-size:2.6rem;font-weight:800;color:#ff3030;}

.wrap_main_body {overflow: hidden;margin-top:170px;}
.wrap_main_body h2 {text-align: center;color:#ff3030;}
.wrap_main_body .wrap_m_s {padding:10px 10px 20px 10px;margin-bottom:20px;text-align: center;border-bottom:1px solid #eee;}
.wrap_main_body .wrap_m_s:last-child {border:none;}
.wrap_main_body .wrap_m_s .rec_word {text-align: center;font-size:.8rem;display: inline-block;padding:0 3px;}
.wrap_main_body .wrap_m_s .ullist_type_product_land, .wrap_main_body .wrap_m_s .ullist_type_product_port {text-align: left;}

/* log */
.wrap_log {padding:0px 20px 20px 20px;}
.wrap_log h3 {text-align:center;padding:20px 0 10px 0;}
.wrap_oauth {padding:10px 35px;}
.btn_log {display:block;text-align: center;color:#fff;padding:10px 0;font-weight:600;font-size:.8rem;margin:5px 0;}
.auth_m {background:#ff6060;}
.oauth_n {background:#00c930;}
.oauth_k {background:#ffeb00;}
.oauth_g {background:#ff5958;}
.oauth_f {background:#3c66c4;}

.wrap_account {padding:0;}
.wrap_account .wrap_input {text-align: center;margin:0 auto;padding:10px 40px 0 40px;}
.wrap_account input {display:block;width:100%;margin:10px 0 10px -6px;text-align: center;padding:15px 5px;}
.wrap_account select {display:block;width:105%;margin:10px 0 10px -6px;text-align: center;padding:15px 5px;}
.wrap_account .wrap_account_ment {text-align: center;padding:0;}
.wrap_account .wrap_account_ment1 {font-size:.8rem;padding:5px 0 10px 0;}
.wrap_account .wrap_account_ment2 {width:110px;margin:0 auto;}
.wrap_account .wrap_account_ment3 {max-width:315px;margin:0 auto;padding: 20px 0;}

.inter_field {overflow: hidden;margin:0 20px;}
.inter_field li {floaT:left;width:50%;text-align: center;}
.inter_field li .ifield {border:1px solid #ccc;margin:3px;padding:7px;}
.inter_field li .ifield_on, .inter_field li .ifield:hover {background:#333;color:#fff;}

.wrap_account .wrap_sbody {text-align: center;margin:0 auto;padding:10px 40px 0 40px;}
.wrap_account .wrap_sbody h2 {font-size:1.3rem;padding-top:30px;}
.wrap_account .wrap_sbody p.ment {font-size:.9rem;padding:20px 0 15px 0;}
.wrap_account .join_ment {color:#aaa;margin:-5px 0 10px 0;}

.wrap_search {padding:0;}
.wrap_search .wrap_input {text-align: center;margin:0 auto;padding:10px 40px 0 40px;}
.wrap_search input {display:block;width:100%;margin:10px 0 10px -11px;text-align: left;padding:15px 10px;font-weight:200;color:#ff6060;font-size:1rem;}
.wrap_search .btn_search {float:right;display:inline-block;width:28px;height:33px;background:url(../image/btn_search.png) no-repeat 0 0;background-size:100%;margin:-51px 0 0 0;}

.wrap_search_sub {position:fixed;top:50px;width:100%;z-index:10;padding-top:10px;background:#fff;}

.wrap_linemap {background:#f5f5f5;padding:5px;overflow:hidden;height:25px;}
.wrap_linemap_type_white {background:#fff;padding:5px;overflow:hidden;border-bottom:1px solid #ddd;}
.wrap_linemap select {float:left;}
.wrap_linemap span {float:left;display:inline-block;font-size:.8rem;padding:3px 7px 0 7px;}
.linemap {font-size:.85rem;padding:3px;}

/* List */
.ullist_type_product_land {position: relative;overflow:hidden;padding:0px 15px;}
.ullist_type_product_land li {padding:12px 0;border-top:1px solid #eee;}
.ullist_type_product_land li .prd_line {background:#f5f5f5;padding:5px 8px;margin-top:10px;font-size:.9rem;}
.ullist_type_product_land li .prd_line span {color:#999;display: inline-block;}
.ullist_type_product_land li .prd_line .data_div {padding:0 3px;}

.ullist_type_product_land li .prd_line .rate {overflow:hidden;padding:2px 0;}
.ullist_type_product_land li .prd_line .rate .mrate {color:#fff;font-size:.7rem;background:#ff4d4d;padding:1px 5px;border-radius:4px;margin-right:5px;}
.ullist_type_product_land li .prd_line .rate em {display:inline-block;font-style:normal;margin:0 6px -3px 0;font-weight:600;}
.ullist_type_product_land li .prd_line .rate em, .ullist_type_product_land li .prd_line .rate span {float:left;}

.ullist_type_product_land li:nth-child(1) {border:none;}
.ullist_type_product_land .desc {padding:5px 0 10px 0;color:#aaa;font-size:0.85rem;}
.ullist_type_product_land .menty {padding-left:40px;}
.list_type_product_land {position: relative;overflow:hidden;}
.list_type_product_land .thumb {width:120px;height:78px;float:left;margin:3px 10px 0 0;overflow:hidden;border:1px solid #ddd;}
.list_type_product_land .thumb img {width:100%;}
.list_type_product_land .profile {width:30px;height:30px;float:left;margin:3px 10px 0 0;overflow:hidden;border-radius: 40px;}
.list_type_product_land .profile img {width:30px;}
.list_type_product_land .text {float:left;width:55%;}
.list_type_product_land .text .title {font-weight:600;font-size:1rem;letter-spacing: -.07em;}
.list_type_product_land .text .rate {overflow:hidden;padding:2px 0;}
.list_type_product_land .text .rate em {display:inline-block;font-style:normal;margin:0 6px -3px 0;font-weight:600;}
.list_type_product_land .text .rate em, .list_type_product_land .text .rate span {float:left;}
.list_type_product_land .text .like {width:100%;height:18px;padding:1px 0 3px 0;}
.list_type_product_land .text .like em {float:left;background: #ff4d4d;color:#fff;font-size:.5rem;font-style:normal;padding:1px 5px;border-radius: 3px;margin:2px 8px -4px 0;}
.list_type_product_land .text p {font-size:0.85rem;}
.list_type_product_land .text2 {float:left;width:95%;}
.list_type_product_land .text2 .title {font-weight:600;font-size:1rem;letter-spacing: -.07em;}
.list_type_product_land .text2 .rate {overflow:hidden;padding:2px 0;}
.list_type_product_land .text2 .rate em {display:inline-block;font-style:normal;margin:0 6px -3px 0;font-weight:600;}
.list_type_product_land .text2 .rate em, .list_type_product_land .text2 .rate span {float:left;}
.list_type_product_land .text2 .like {width:100%;height:18px;padding:2px 0 0 0;}
.list_type_product_land .text2 .like em {float:left;background: #ff4d4d;color:#fff;font-size:.5rem;font-style:normal;padding:1px 5px;border-radius: 3px;margin:2px 8px -4px 0;}
.list_type_product_land .text2 p {font-size:0.85rem;}

.ullist_type_product_port {position: relative;overflow:hidden;}
.ullist_type_product_port li {float:left;width:40%;margin:10px 5% 0 5%;}
.ullist_type_product_port li input {margin-top:-20px;}
.list_type_product_port {position: relative;margin:0 auto;}
.list_type_product_port .thumb {width:135px;margin:3px 10px 6px 0;height:80px;overflow:hidden;border:1px solid #ddd;}
.list_type_product_port .thumb img {width:100%;}
.list_type_product_port .text {font-size:.7rem;}
.list_type_product_port .text .title {font-weight:600;font-size:1rem;letter-spacing: -.07em;}
.list_type_product_port .text .rate {overflow:hidden;padding:2px 0;}
.list_type_product_port .text .rate em {display:inline-block;font-style:normal;margin:0 6px -3px 0;font-weight:600;}
.list_type_product_port .text .rate em, .list_type_product_port .text .rate span {float:left;}
.list_type_product_port .text p {font-size:0.9rem;}
.ullist_type_product_land .btn_compare_select {position:absolute;right:0px;margin:-26px 10px 0 0;z-index:100;z-index:10;}
.ullist_type_product_port .btn_compare_select {position:absolute;margin:3px 0 0 3px;z-index:100;z-index:10;}

.rate_star {display:inline-block;width:80px;height:15px;background:url(../image/star_rate.png) no-repeat 0 0;background-size:100%;}
.rate_star_50 {background-position: 0 1px;}
.rate_star_45 {background-position: 0 -99px;}
.rate_star_40 {background-position: 0 -16px;}
.rate_star_35 {background-position: 0 -116px;}
.rate_star_30 {background-position: 0 -32px;}
.rate_star_25 {background-position: 0 -133px;}
.rate_star_20 {background-position: 0 -50px;}
.rate_star_15 {background-position: 0 -150px;}
.rate_star_10 {background-position: 0 -67px;}
.rate_star_05 {background-position: 0 -167px;}
.rate_star_00 {background-position: 0 -84px;}

.rate_starb_50 {background-position: 0 2px;}
.rate_starb_45 {background-position: 0 -148px;}
.rate_starb_40 {background-position: 0 -23px;}
.rate_starb_35 {background-position: 0 -173px;}
.rate_starb_30 {background-position: 0 -50px;}
.rate_starb_25 {background-position: 0 -199px;}
.rate_starb_20 {background-position: 0 -74px;}
.rate_starb_15 {background-position: 0 -225px;}
.rate_starb_10 {background-position: 0 -100px;}
.rate_starb_05 {background-position: 0 -250px;}
.rate_starb_00 {background-position: 0 -125px;}

/* join */
.join_step {overflow:hidden;margin:15px 40px 0 40px;}
.join_step li {float:left;width:33.3%;}
.join_step li{background:url(../image/bg_jstep_line.png) no-repeat center 26px;}
.join_step li div {margin:0 auto;}
.join_step li p {margin:0 auto;text-align: center;padding:8px;}
.join_step li .jstep {border:5px solid #ddd;background:#fff;padding:9px 0;text-align: center;width:46px;border-radius:50px !important;font-size: 1.2rem;font-weight:600;}
.join_step li .jstep_on {border:5px solid #ff3030;background:#fff;padding:9px 0;text-align: center;width:46px;border-radius:50px !important;font-size: 1.2rem;font-weight:600;color:#ff3030;}

/* table */
.wrap_table {margin:0 10px;}
.tb_type_noline {width:100%;font-size:.9rem;}
.tb_type_noline tH {text-align: right;padding:5px 20px 5px 0;color:#00a1c9;font-weight:400;}
.tb_type_noline td .photo {width:50px;margin:10px 0;overflow: hidden;border-radius: 30px;}

.tb_type_up {margin:10px 20px 0 20px;}
.tb_type_up td {vertical-align: top;padding:15px 10px;}

.tb_type_1 {border:1px solid #ddd;border-top:3px solid #ccc;width:100%;}
.tb_type_1 th {background:#f9f9f9;}
.tb_type_1 th, .tb_type_1 td {border:1px solid #ddd;padding:5px;font-size:0.85rem;}
.tb_type_1 td .pimg {width:60%;}
.tb_type_1 td .rate em {display:inline-block;font-style:normal;margin:0 6px -3px 0;font-weight:600;}
.tb_type_1 td .rate em, .tb_type_1 td .rate span {float:left;}

.tb_type_2 {border:1px solid #ddd;border-top:3px solid #ccc;width:100%;background:#fff;margin:15px 0 10px 0;font-size:.9rem;}
.tb_type_2 th {background:#eee;}
.tb_type_2 th a {color:#333;}
.tb_type_2 th, .tb_type_2 td {border:1px solid #ddd;padding:5px;text-align: center;}
.tb_type_2 td .pimg {width:60%;}
.tb_type_2 td .rate em {display:inline-block;font-style:normal;margin:0 6px -3px 0;font-weight:600;}

.tb_padding {margin:0 15px;}

/* search */
.search_list {margin:0 15px;overflow: hidden;}
.search_list .ser_ment {padding:20px 0 10px 0;font-size:.8rem;border-bottom:1px dotted #ddd;}
.search_list .ser_ment strong {color:#ff6060;}
.search_list h3 {padding:15px 0 0 0;font-size:1rem;}
.search_list .more {float:right;font-size:.8rem;margin-top:-19px;}
.ser_keyword {overflow:hidden;margin:15px 15px 0 15px;padding:5px;}
.ser_keyword li {border-top:1px solid #ddd;padding:5px 0;}
.ser_keyword li:first-child {bordeR:none;}
.ser_keyword li .keyword {font-size:.8rem;padding:6px 0;}
.ser_keyword li .keyword .match {color:#ff6060;}
.ser_keyword li .keyword em {font-style:normal;font-size:.6rem;background:#0f77d8;color:#fff;padding:3px 5px 3px 5px;border-radius:4px;margin-right:6px;float:left;}
.ser_keyword li .date {floaT:right;font-size:.8rem;margin-top:-26px;}

.ser_nohistory {overflow:hidden;margin:55px 15px 0 15px;padding:5px;text-align: center;font-size:.8rem;line-height:1.8rem;color:#999;}
.ser_nohistory p {font-size:1.1rem;color:#ff6060;}

/* compare_layer */
.wrap_compare {position:fixed;width:100%;height:310px;bottom:0;background:#fff;border-top:1px solid #ccc;z-index:100;}
.pcompare {color:#fff;background:rgb(255, 157, 157);padding:10px;font-size:.8rem;font-weight:600;}
.pcompare span.dir {float:right;width:18px;height:18px;}
.pcompare span.dir_top {background:url(../image/img_dir_top.png) no-repeat 0 0;background-size:100%;}
.pcompare span.dir_bottom {background:url(../image/img_dir_bottom.png) no-repeat 0 0;background-size:100%;}

/* mlist */
.mlist {overflow:hidden;margin:0 15px;}
.mlist_1 {padding-bottom:50px;}
.mlist_1 li a {display: inline-block;font-size:.95rem;padding:9px 0;width:100%;color:#333;}
.mlist_1 li a span.dir_right {float:right;display: inline-block;width:18px;height:18px;background:url(../image/img_dir_right.png) no-repeat 0 0;background-size:100%;}
.mlist_2 {margin-top:15px;margin-bottom:25px;overflow:hidden;}
.mlist_2 li {float:left;width:40%;}
.mlist_2 li:nth-child(2n) {float:right;}
.mlist_2 li a {display: inline-block;font-size:.9rem;padding:7px 0;color:#333;width:100%;}
.mlist_2 li a span.dir_right {float:right;display: inline-block;width:18px;height:18px;background:url(../image/img_dir_right.png) no-repeat 0 0;background-size:100%;margin-right:10px;}

/* mypage */
.mypage_box {background:#f9f9f9;border-top:1px solid #eee;border-bottom:1px solid #eee;padding:15px;}
.mypage_box .my_key {padding:3px 0;font-size:.9rem;}
.mypage_profile {overflow: hidden;}
.mypage_profile .profile {floaT:left;width:50px;height:50px;margin:0 10px 0 0;overflow: hidden;border-radius: 30px;}
.mypage_profile .name {font-size:1.2rem;font-weight:600;}
.mypage_profile .name .memtype {display:inline-block;color:#fff;background: #ff6060;font-size:.5rem;padding:1px 5px 2px 5px;border-radius: 5px;margin:6px 0 0 6px;position:absolute;}
.mypage_profile .name a {color:#3c66c4;}
.mypage_profile .name .memtype_1 {background:#ff6060;}
.mypage_profile .name .memtype_2 {background:#00c930;}
.mypage_profile .name .memtype_3 {background:#ffeb00;}
.mypage_profile .name .memtype_4 {background:#ff5958;}
.mypage_profile .name .memtype_5 {background:#3c66c4;}
.mypage_profile .date {padding:1px 0 0 0;font-size:.9rem;}
.my_token {overflow: hidden;padding:10px 0 10px 0;border-bottom:1px dotted #ddd;margin-bottom:15px;}
.my_token .mk_left {float:left;width:65px;line-height: .9rem;padding-top:5px;}
.my_token .mk_right span.dir_right {float:right;display: inline-block;width:24px;height:24px;background:url(../image/img_dir_right.png) no-repeat 0 0;background-size:100%;margin:7px 0 0 4px;}
.my_token .mk_right {float:right;}
.my_token .mk_right a {font-size:1.5rem;font-weight:bold;color:#555;}

/* linemenu */
.wrap_linemenu {background:#f5f5f5;padding:5px;overflow-x:scroll;height:30px;border-bottom:1px solid #ddd;position:fixed;top:50px;z-index:100;width:100%;-ms-overflow-style: none; }
.wrap_linemenu::-webkit-scrollbar {display: none;}
.linemenu1 {overflow:hidden;width:360px;}
.linemenu1 li {floaT:left;padding:4px 10px 5px 10px;}
.linemenu1 li a {display:inline-block;font-size:.9rem;color:#333;font-weight:600;width:90px;}
.linemenu1 li a.on {color:#ff6060;}
.linemenu2 {overflow:hidden;}
.linemenu2 li strong {font-size:1rem;}
.linemenu2 li a {font-size:.95rem;color:#333;line-height: 1.7rem;;}
.linemenu2 li a.on {color:#ff6060;}
.linemenu3 {overflow:hidden;width:770px;}
.linemenu3 li {floaT:left;padding:4px 10px 5px 10px;}
.linemenu3 li a {display:inline-block;font-size:.9rem;color:#333;font-weight:600;width:55px;}
.linemenu3 li a.on {color:#ff6060;}

/* chart */
.tom_donut_index {position: relative;margin:0 auto;padding:10px 0;text-align:center;}
.tom_donut_index .txt {font-size:.7rem;}
.tom_donut_index .fi_obj {display:inline-block;width:8px;height:8px;margin:8px 4px 0 15px;}
.tom_donut_index .fj_obj1 {background:#36a2eb;} 
.tom_donut_index .fj_obj2 {background:#4ac0c0;} 
.tom_donut_index .fj_obj3 {background:#ff6383;} 
.tom_donut_index .fj_obj4 {background:#ffcd56;} 

/*  */
.pd_title {font-size:1.1rem;padding:10px 10px 0 10px;border-top:1px solid #ddd;margin-bottom:-10px;position: relative;z-index:10;}
.pd_title_s {font-size:.8rem;padding:15px 10px 10px 10px;position: relative;z-index:10;font-weight:400;border-bottom:1px solid #ddd;color:#bbb;}
.pd_title_temp {text-align:center;color:red;font-size:.7rem;margin:20px 10px -10px 10px;position: relative;z-index:10;font-weight:400;}
.pd_r_write {margin:20px 0 0 0;}
.pd_r_write .wrap_account {padding:0;}
.pd_r_write .wrap_account .wrap_input {text-align: center;margin:0 auto;padding:0;}
.pd_r_write .wrap_account .wrap_input .re_img {padding:4px 0;background:#f9f9f9;border-top:1px solid #ccc;}
.pd_r_write .wrap_account input {display:block;width:100%;margin:0 0 -1px -6px;text-align: center;padding:15px 5px;}
.pd_r_write .wrap_editor {border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.pd_r_write .wrap_account .btn_type_bg {display:block;}

.pd_rate {background:#f5f5f5;padding:15px;}
.pd_rate_box {overflow: hidden;}
.pd_rate_star {float:left;}
.pd_rate_star em {font-style:normal;font-weight:600;floaT:left;font-size:1rem;margin-right:5px;}
.pd_rate_star .rate_star {width:120px;height:25px;}
.pd_rate_num {float:right;font-weight:600;font-size:.9rem;}
.pd_rate_ment {text-align:center;padding-top:5px;}
.pd_rate_btn {text-align:center;color:#ff6060;margin-top:10px;padding:8px 0 0 0;font-weight:600;font-size:.8rem;border-top:1px solid #ddd;}
.pd_head {overflow: hidden;padding:15px 15px 0 15px;font-size:1.1rem;}
.pd_head strong {border-left:5px solid #ff3030;padding-left:10px;}
.pd_head .time {float:right;font-size:.7rem;font-weight:400;}
.pd_date {margin:20px 20px 20px 10px;}
.pd_price {overflow: hidden;padding-bottom:10px;margin:10px 0;border-bottom:1px solid #ddd;}
.pd_price li {overflow: hidden;padding:9px 15px;}
.pd_price li a {overflow: hidden;display:block;color:#333;}
.pd_price li a .mlogo {float:left;width:80px;color:#333;font-size:.8rem;font-weight:600;}
.pd_price li a .mlogo img {height:20px;}
.pd_price li a .mprice {float:right;text-align:right;color:#333;font-size:.9rem;}
.pd_price li a .mgo {float:right;width:80px;text-align:right;padding-top:2px;}
.pd_price li a .mgo em {font-style:normal;color:#fff;background:#ff6060;padding:1px 5px;border-radius: 4px;text-align: center;}

.pd_data {padding:10px;background: #f5f5f5;;}
.pd_data .rate em {float:left;font-style:normal;font-weight:600;font-size:1rem;margin:2px 4px 0 0;}
.pd_data .rate .rate_star {width:120px;height:25px;}
.pd_data .date {font-weight:600;color:#888;}
.pd_data .view {float:right;font-weight:400;color:#888;margin-top:-17px;}

.r_delete {background:#ddd;text-align: center;padding:7px 0;}

/* */
.swiper-container {width: 100%;height: 250px;}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom:130px;
}
.swiper-slide img {height:200px;}

.wrap_product_view {overflow: hidden;}
.wrap_pv_open {overflow: hidden;height:auto;}
.wrap_pv_close {overflow: hidden;height:300px;}
.wrap_product_view .re_sam {width:100%;}

.product_feature {background:#f9f9f9;padding:15px;border:1px solid #ddd;margin:20px 0;}
.product_feature span {display:inline-block;padding:0 0 0 5px;}
.product_feature span::before {content:"/";padding:0 5px 0 0;}
.product_feature span:nth-child(1)::before {content:"";padding:0;}
.product_img {margin:30px 0;text-align:center;}
.product_img img {margin:10px;width:60%;}

.spec_tbl {width:100%;border:1px solid #ddd;margin:0 0 10px 0;}
.spec_tbl th {padding:5px 10px;background:#efefef;border:1px solid #ddd;}
.spec_tbl td {padding:5px 10px;border:1px solid #ddd;}
.spec_tbl td.group {font-weight:600;}

.wrap_pment {text-align:center;}
.wrap_pment textarea {overflow-y:scroll;width:95%;margin:0 auto;}
.wrap_pment a {width:93%;text-align:center;margin:0 auto;}

.wrap_prate {padding:15px;overflow: hidden;background:#f5f5f5;margin:15px 0 10px 0;}
.wrap_prate h4 {padding:10px 0;}
.wrap_bar {height:27px;background:#ccc;float:left;width:100%;margin-bottom:35px;}
.wrap_bar span.r_type {floaT:left;color:#fff;text-align: center;padding:5px 0;height:16px;}
.wrap_bar span.r_type em {position:absolute;font-style:normal;color:#111;}
.wrap_bar span.type_1 {background:#ff6060;}
.wrap_bar span.type_1 em {margin:25px 0 0 -36px;}
.wrap_bar span.type_2 {background:#ffb443;}
.wrap_bar span.type_2 em {margin:25px 0 0 -36px;}
.wrap_bar span.type_3 {background:transparent;}
.wrap_bar span.type_3 em {margin:25px 0 0 -23px;}

.wrap_rate_num {overflow: hidden;margin-bottom:8px;}
.wrap_rate_num .rate_num {overflow: hidden;margin-bottom:8px;}
.wrap_rate_num .rate_num span {float:left;height:16px;font-weight:600;font-size:.8rem;}
.wrap_rate_num .rate_num span.rnum {width:10%;text-align: center;}
.wrap_rate_num .rate_num span.rbar {background: #ccc;width:75%;height:12px;margin-top:4px;}
.wrap_rate_num .rate_num span.rbar em {float:left;background: #ff6383;height:12px;}
.wrap_rate_num .rate_num span.rrate {width:15%;text-align:right;}

.r_rate_result {border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#444;padding-bottom:1px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
.r_rate_result .rgg {text-align: center;color:#ffb443;font-size:1.1rem;font-weight:500;padding:10px 0 0 0;}
.r_rate_result .rgg span {display:block;font-size:.8rem;font-weight:400;color:#eee;}
.wrap_liker {overflow: hidden;margin:5px 0 0 0;}
.wrap_liker li {overflow: hidden;float:left;width:45%;}
.wrap_liker li.vs {overflow: hidden;float:left;width:10%;}
.wrap_liker li .wlike {float:right;width:60%;padding:20px 0;/*border:1px solid #eee;border-radius:10px;*/}
.wrap_liker li .wlike .wlike_ment {font-size:.8rem;font-weight:600;padding-bottom:5px;color:#ccc;}
.wrap_liker li .wlike .emoji_like {margin:0 auto;width:33px;height:33px;background:url(../image/img_like_off.png) no-repeat center 0;background-size: 100%;}
.wrap_liker li .wlike .emoji_unlike {margin:0 auto;width:33px;height:33px;background:url(../image/img_unlike_off.png) no-repeat center 0;background-size: 100%;}
.wrap_liker li .wlike .num {font-size:.8rem;font-weight:400;padding-top:5px;color:#ccc;}

.wl_likel li:nth-child(3) .wlike {float:left;}
.wl_likel li:nth-child(1) .wlike {float:right;width:60%;padding:4px 0;/*border:1px solid #3c66c4;border-radius:10px;background:#004b91;*/}
.wl_likel li:nth-child(1) .wlike .wlike_ment {font-size:.8rem;font-weight:600;padding-bottom:5px;color:#fff;}
.wl_likel li:nth-child(1) .emoji_like {margin:0 auto;width:60px;height:60px;background:url(../image/img_like_on.png) no-repeat center 0;background-size: 100%;}
.wl_likel li:nth-child(1) .num {font-size:.8rem;font-weight:400;padding-top:5px;color:#fff;}

.wl_liker li:nth-child(1) .wlike {float:right;}
.wl_liker li:nth-child(3) .wlike {float:left;width:60%;padding:4px 0;/*border:1px solid #3c66c4;border-radius:10px;background:#004b91;*/}
.wl_liker li:nth-child(3) .wlike .wlike_ment {font-size:.8rem;font-weight:600;padding-bottom:5px;color:#fff;}
.wl_liker li:nth-child(3) .emoji_unlike {margin:0 auto;width:60px;height:60px;background:url(../image/img_unlike_on.png) no-repeat center 0;background-size: 100%;}
.wl_liker li:nth-child(3) .num {font-size:.8rem;font-weight:400;padding-top:5px;color:#fff;}
.wl_likec li:nth-child(3) .wlike {float:left;}
.wrap_liker .vs div {display:none;margin-top:15px;}
.wl_likel .vs .lw {display:block;width:40px;height:40px;background:url(../image/img_dir_right.png) no-repeat 4px 0;background-size: 100%;}
.wl_liker .vs .rw {display:block;width:40px;height:40px;background:url(../image/img_dir_left.png) no-repeat -10px 0;background-size: 100%;}
.wl_likec .vs .rw {display:block;width:40px;height:40px;background:url(../image/img_dir_center.png) no-repeat -4px 2px;background-size: 100%;}

.wrap_review_box {overflow: hidden;}
.wrap_review_box .wrap_review_body {overflow: hidden;padding:10px;min-height:100px;}
.wrap_review_box .wrap_review_body img {width:100%;margin:15px 0;}
.wrap_review_box .wrap_review_tag {overflow: hidden;padding:10px;background:#f5f5f5;}
.wrap_review_box .wrap_review_tag .tag {display:inline-block;margin-right:8px;font-size:.8rem;}