<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gwang.allalcohol.web.dao.CountryDao">

	<select id="selectList"  resultType="gwang.allalcohol.web.dao.CountryDto">
		SELECT   * 
		FROM     country
		<include refid="common.sql.orderbyQuery" />
	</select>

</mapper>