<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gwang.allalcohol.web.dao.PartTimeWorkerDao">

	<insert id="insert" useGeneratedKeys="true" keyProperty="workerId">
		INSERT INTO part_time_worker (
			name, 
			code,
			bank,
			bank_account,
			reg_date
		) VALUES (
			#{name}, 
			#{code}, 
			#{bank},
			#{bankAccount},
			NOW()
		)
	</insert>
	
	<select id="selectOne"  resultType="gwang.allalcohol.web.dao.PartTimeWorkerDto">
		SELECT  * 
		FROM    part_time_worker
		WHERE	worker_id = #{workerId}
	</select>
	
	<select id="selectByNameAccount"  resultType="gwang.allalcohol.web.dao.PartTimeWorkerDto">
		SELECT  * 
		FROM    part_time_worker
		WHERE	name = #{name}
		AND		bank = #{bank}
		AND		bank_account = #{bankAccount}
	</select>

	<select id="selectList"  resultType="gwang.allalcohol.web.dao.PartTimeWorkerDto">
		SELECT   * 
		FROM     part_time_worker
		<include refid="common.sql.orderbyQuery" />
		<include refid="common.sql.pagingQuery" />
	</select>

</mapper>